<p style="padding:1em;" *ngIf="!(company|async)?.networks">
  It looks like your social media channels have not been set up yet. Please contact your account manager for assistance.
</p>
<div id="page" *ngIf="(company|async)?.networks" class="report">
<div *ngFor="let report of (reports|async)">

<h1>
Reporting
<!-- <br/>{{report.start_date | date: 'MM/dd/yyyy'}} to {{report.end_date | date: 'MM/dd/yyyy'}}<br/> -->
</h1>
<!--
<p>
<strong>Summary for all social networks:</strong><br/>
Total followers/fans: {{report.total_followers}}<br/>
New followers/fans: {{report.total_new_followers}}<br/>
Total reach/impressions: {{report.total_reach}}<br/>
</p>
 -->

<mat-tab-group>
  <mat-tab label="Facebook" *ngIf="report.fb_pages">
<div *ngFor="let fb_page_id of fb_page_ids" class="fb_page channel">
<h2 *ngIf="(company|async)?.networks.fb_pages && (company|async)?.networks.fb_pages[fb_page_id]">
<!-- Facebook -->
<!--  {{(company|async)?.networks.fb_pages[fb_page_id].name}} -->
 </h2>


<div class="channel-summary section" *ngIf="report.fb_pages && report.fb_pages[fb_page_id]">
<h4>Key Metrics</h4>
  <div class="primary">
     <p class="posts-created">
        <img src="assets/posts_created.png"/>
        <strong>{{report.fb_pages[fb_page_id].posts_created | number}}</strong>
        posts created
      </p>
     <p>
       <img src="assets/new_fans.png"/>
        <strong>{{report.fb_pages[fb_page_id].new_fans | number}}</strong>
        new fans
     </p>
  </div>

  <div class="secondary">
   <p>
      <img src="assets/impressions.png"/>
      <strong>{{report.fb_pages[fb_page_id].page_impressions | number}}</strong> impressions
   </p>
   <p>
      <img src="assets/reach.png"/>
      <strong>{{report.fb_pages[fb_page_id].page_impressions_unique | number}}</strong> reach
    </p>
   <p>
      <img src="assets/engagement.png"/>
      <strong>{{report.fb_pages[fb_page_id].page_engaged_users | number}}</strong> engagement
    </p>
  </div>
</div>

<div class="chart-holder section wide">
  <h4>Impressions</h4>
  <chart *ngIf="chart_data" type="bar" [data]="chart_data" [options]="options"></chart>
</div>

<!-- <img *ngIf="(company|async)?.networks.fb_pages && (company|async)?.networks.fb_pages[fb_page_id]" src="{{(company|async)?.networks.fb_pages[fb_page_id].cover_image}}"/> -->


<div class="top-posts section" *ngIf="report.fb_pages && report.fb_pages[fb_page_id] && report.fb_pages[fb_page_id].top_posts">
<h4>Top Posts
</h4>
<div >
    <div class="post" *ngFor="let post of report.fb_pages[fb_page_id].top_posts | slice:0:3" >
      <img src="{{post.data.picture}}" class="thumb"/>
      <p class="date">{{post.data.created_time | date: 'EEEE MMMM d'}}</p>
      <p class="message">{{post.data.message | ellipsis:80}}</p>
      <p class="stats">
        <span *ngIf="post.data && post.data.likes">
          {{post.data.likes.summary.total_count}}
          likes
        </span>
        <span *ngIf="post.data && post.data.comments">
          {{post.data.comments.summary.total_count}} comments
        </span>
        <span *ngIf="post.data && post.data.shares">
          {{post.data.shares.count}} shares
        </span>
      </p>
    </div>
</div>


</div>

<div class="like-sources section wide" *ngIf="report.fb_pages && report.fb_pages[fb_page_id] && report.fb_pages[fb_page_id].like_sources">
 <h4>Like Sources</h4>
  <div class="chart-holder" style="height: 400px;">
  <chart
    *ngIf="chart_data"
    type="pie"
    [data]="pie_data[fb_page_id]"
    [options]="pie_options">
  </chart>
 </div>
</div>

<div class="location_data section" *ngIf="report.fb_pages && report.fb_pages[fb_page_id] && report.fb_pages[fb_page_id].location_data">
<h4>Top Cities</h4>

<div class="chart-holder" style="height: 400px;">
   <chart
     *ngIf="chart_data"
     type="horizontalBar"
     [data]="top_cities[fb_page_id]"
     [options]="cities_options">
   </chart>
  </div>
</div>

<div class="gender-metrics section wide" *ngIf="report.fb_pages && report.fb_pages[fb_page_id] && report.fb_pages[fb_page_id].gender_metrics">
  <h4>Gender and Age</h4>
  <div class="chart-holder" style="height: 400px;">
   <chart width="300" height="300"
     *ngIf="chart_data"
     type="bar"
     [data]="gender_data[fb_page_id]"
     [options]="pie_options">
   </chart>
  </div>
</div>




</div>


  </mat-tab>
  <mat-tab label="Twitter"  *ngIf="report.tw_pages">

<div *ngFor="let tw_page_id of tw_page_ids" class="tw_page channel">
<h2 *ngIf="(company|async)?.networks.tw_pages && (company|async)?.networks.tw_pages[tw_page_id]">
<!-- Twitter -->
<!--  {{(company|async)?.networks.tw_pages[tw_page_id].name}} -->
 </h2>


<div class="channel-summary section" *ngIf="report.tw_pages && report.tw_pages[tw_page_id]">
<h4>Key Metrics</h4>
  <div class="primary">
     <p class="posts-created">
<!--         <img src="assets/posts_created.png"/> -->
        <strong>{{report.tw_pages[tw_page_id].followers | number}}</strong>
        total followers
      </p>
     <p>
<!--        <img src="assets/new_fans.png"/> -->
        <strong>{{report.tw_pages[tw_page_id].new_followers | number}}</strong>
        new followers
     </p>
  </div>

  <div class="secondary">
   <p>
<!--       <img src="assets/impressions.png"/> -->
      <strong>{{report.tw_pages[tw_page_id].mentions | number}}</strong> mentions
   </p>
   <p>
<!--       <img src="assets/reach.png"/> -->
      <strong>{{report.tw_pages[tw_page_id].retweets | number}}</strong> retweets
    </p>
   <p>
<!--       <img src="assets/engagement.png"/> -->
      <strong>{{report.tw_pages[tw_page_id].favorites | number}}</strong> favorites
    </p>
  </div>
</div>

<div class="chart-holder section wide">
  <h4>Followers</h4>
  <chart *ngIf="tw_fans_data" type="line" [data]="tw_fans_data" [options]="options"></chart>
</div>

<div class="top-tweets section" *ngIf="report.tw_pages && report.tw_pages[tw_page_id] && report.tw_pages[tw_page_id].top_tweets">
  <h4>Top Tweets</h4>
  <div >
      <div class="post" *ngFor="let post of report.tw_pages[tw_page_id].top_tweets | slice:0:3" >
  <!--       <img src="{{post.data.picture}}" class="thumb"/> -->
        <p class="date">{{post.timestamp | date: 'EEEE MMMM d'}}</p>
        <p class="message">{{post.text | ellipsis:120}}</p>
        <p class="stats">
          <span *ngIf="post.favorite_count">
            {{post.favorite_count}}
            favorites
          </span>
          <span *ngIf="post && post.replies">
            {{post.replies}} replies
          </span>
          <span *ngIf="post.retweet_count">
            {{post.retweet_count}} retweet
          </span>
        </p>
      </div>
  </div>
</div>

<div class="chart-holder section wide">
  <h4>Engagement</h4>
  <chart *ngIf="tw_activity_data" type="line" [data]="tw_activity_data" [options]="options"></chart>
</div>




</div>

  </mat-tab>

    <mat-tab label="Instagram" *ngIf="report.ig_pages">

    <div *ngFor="let ig_page_id of ig_page_ids" class="ig_page channel">
<h2 *ngIf="(company|async)?.networks.ig_pages && (company|async)?.networks.ig_pages[ig_page_id]">
<!-- Instagram -->
<!--  {{(company|async)?.networks.ig_pages[ig_page_id].name}} -->
 </h2>


<div class="channel-summary section" *ngIf="report.ig_pages && report.ig_pages[ig_page_id]">
<h4>Key Metrics</h4>
  <div class="primary">
     <p class="posts-created">
<!--         <img src="assets/posts_created.png"/> -->
        <strong>{{report.ig_pages[ig_page_id].summary.total_followers | number}}</strong>
        total followers
      </p>
     <p>
<!--        <img src="assets/new_fans.png"/> -->
        <strong>{{report.ig_pages[ig_page_id].summary.new_followers | number}}</strong>
        new followers
     </p>
  </div>

  <div class="secondary">
   <p>
<!--       <img src="assets/impressions.png"/> -->
      <strong>{{report.ig_pages[ig_page_id].summary.total_impressions | number}}</strong> impressions
   </p>
   <p>
<!--       <img src="assets/reach.png"/> -->
      <strong>{{report.ig_pages[ig_page_id].summary.total_reach | number}}</strong> reach
    </p>
   <p>
<!--       <img src="assets/engagement.png"/> -->
      <strong>{{report.ig_pages[ig_page_id].summary.total_website_clicks | number}}</strong> website clicks
    </p>
  </div>
</div>

<div class="chart-holder section wide">
  <h4>Followers</h4>
  <chart *ngIf="ig_fans_data" type="line" [data]="ig_fans_data" [options]="options"></chart>
</div>

<div class="top-media section" *ngIf="report.ig_pages && report.ig_pages[ig_page_id] && report.ig_pages[ig_page_id].top_media">
  <h4>Top Media</h4>
  <div >
      <div class="post" *ngFor="let post of report.ig_pages[ig_page_id].top_media | slice:0:3" >
        <img src="{{post.image_low_resolution}}" class="thumb"/>
        <p class="date">{{post.created_time | date: 'EEEE MMMM d'}}</p>
        <p class="message">{{post.text | ellipsis:140}}</p>
        <p class="stats">
          <span *ngIf="post.likes">
            {{post.likes}}
            likes
          </span>
          <span *ngIf="post && post.comments">
            {{post.comments}} comments
          </span>
<!--
          <span *ngIf="post.retweet_count">
            {{post.retweet_count}} retweet
          </span>
 -->
        </p>
      </div>
  </div>
</div>

<div class="chart-holder section wide">
  <h4>Impressions/Reach</h4>
  <chart *ngIf="ig_activity_data" type="line" [data]="ig_activity_data" [options]="options"></chart>
</div>




</div>

    </mat-tab>
</mat-tab-group>







<!--



<div *ngFor="let gp_id of gp_page_ids" class="gp_page">
<h2 *ngIf="(company|async)?.networks.gp_pages && (company|async)?.networks.gp_pages[gp_id]">
  Google+
<!~~   Profile: {{(company|async)?.networks.gp_pages[gp_id].name}} ~~>
</h2>

<div class="channel-summary" *ngIf="report.gp_pages && report.gp_pages[gp_id]">
<!~~ <p><strong>{{report.gp_pages[gp_id].circled_by_count}}</strong> followers</p> ~~>
<p><strong>{{report.gp_pages[gp_id].new_followers}}</strong> new followers</p>
<p><strong>{{report.gp_pages[gp_id].comments}}</strong> replies</p>
<p><strong>{{report.gp_pages[gp_id].plusoners}}</strong> +1s</p>
<p><strong>{{report.gp_pages[gp_id].resharers}}</strong> shares</p>
</div>

<div class="top-posts" *ngIf="report.gp_pages && report.gp_pages[gp_id] && report.gp_pages[gp_id].feed">
<h4>Top Activities</h4>
<table>
 <thead>
  <tr>
   <th>Date</th>
   <th>Status</th>
   <th>Shares</th>
   <th>Replies</th>
   <th>+1s</th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let post of report.gp_pages[gp_id].feed">
    <td>{{post.timestamp | date: 'MMM d'}}</td>
    <td><div [innerHtml]="post.message"></div></td>
    <td>{{(post.data && post.data.object && post.data.resharers) ? post['data']['object']['resharers']['totalItems']:'0'}}</td>
    <td>{{(post.data && post.data.object && post.data.replies) ? post['data']['object']['replies']['totalItems'] : '0' }}</td>
    <td>{{(post.data && post.data.object && post.data.plusoners)? post['data']['object']['plusoners']['totalItems'] : '0'}}</td>
  </tr>
 </tbody>
</table>
</div>

</div>

<div *ngFor="let ig_id of ig_page_ids" class="ig_page">
<h2 *ngIf="(company|async)?.networks.ig_pages && (company|async)?.networks.ig_pages[ig_id]">
  Instagram
<!~~   Profile: {{(company|async)?.networks.ig_pages[ig_id].name}} ~~>
</h2>

<div class="channel-summary"  *ngIf="report.ig_pages && report.ig_pages[ig_id] && report.ig_pages[ig_id].summary">
<!~~ <p><strong>{{report.ig_pages[ig_id].summary.total_followers}}</strong></p> ~~>
<p><strong>{{report.ig_pages[ig_id].summary.new_followers}}</strong> new followers</p>
<p><strong>{{report.ig_pages[ig_id].summary.total_impressions}}</strong> impressions</p>
<p><strong>{{report.ig_pages[ig_id].summary.total_reach}}</strong> reach</p>
<p><strong>{{report.ig_pages[ig_id].summary.total_website_clicks}}</strong> Website clicks</p>
</div>

<div class="top-posts" *ngIf="report.ig_pages && report.ig_pages[ig_id] && report.ig_pages[ig_id].top_media">
<h4>Top Media</h4>
<table>
 <thead>
  <tr>
   <th>Date</th>
   <th>Image</th>
   <th>Comments</th>
   <th>Likes</th>
  </tr>
 </thead>
 <tbody>
  <tr *ngFor="let post of report.ig_pages[ig_id].top_media">
    <td>{{post.created_time | date: 'MMM d'}}</td>
    <td><img src="{{post.image_thumbnail}}"/></td>
    <td>{{post.comments}}</td>
    <td>{{post.likes}}</td>
  </tr>
 </tbody>
</table>
</div>

</div>


 -->
</div>

</div>

