.ng-sidebar__content--animate{
  background-color: #eee;
}
#page{
  background-color: #eee;
  margin: 0;
  padding: 0 0 0 20px;
  float: left;
  width: 100%;
}
h2, h3, h4{
	color: #2C4870;
	margin: 1.5em .3em .5em .3em;
	font-weight: bold;
}
.channel{
  float: left;
  padding-top: 10px;
}
.channel h2{
  display: none;
}
.section{
  float: left;
  border: 1px solid #ddd;
  width: 40%;
  margin: 3px;
  padding: 1vw 2vw;
  height: 30vw;
  min-height: 430px;
  text-align: center;
  background-color: #FFF;
}
.section.wide{
  width: 55%;
}
.top-posts div.item-carousel.prev,
.top-posts div.item-carousel.next{
  visibility: hidden;
}
.post{
  min-width: 200px;
  width: 100%;
  text-align: left;
  float: left;
  background-color: #F9F9F9;
  padding: 10px;
  margin: 5px;
}
.post img.thumb{
  float: left;
  width: 20%;
}
.post p{
  font-size: 8pt;
}
.post .date{
  font-weight: bold;
  float: right;
  width: 75%;
  margin: 0;
}
.post p.message{
  float: right;
  width: 75%;
  margin: 0;
}
.post p.stats{
  float: right;
  width: 75%;
  font-weight: bold;
  margin: 0;
  min-width: 230px;
}
.post p.stats span{
  padding: 0 5px;
  margin: 0 5px;
}

.post .iframe{
  float:left;
  width: 50%;
}
.post-info{
  float:right;
  text-align: center;
  width: 40%;
}

.top-tweets .post p.message, .top-tweets .post p.stats, .top-tweets .post .date{
  width: 100%;
}

.top-posts .post table{
  margin: auto;
}
.top-posts .post table tbody{
  border: none;
}
.top-posts .post table td{
  text-align: left;
  background-color: #FFF;
}
.top-posts .post table td:first-child{
  text-align: right;
  color: #6796FF;
  font-weight: bold;
  font-size: 16px;
}
.top-posts h4 {
  width: 100%;
}
.top-posts h4 button{
  background-color: #2C4870;
  color: #FFF;
  padding: 15px;
  line-height: 10px;
  float: right;
  margin: 2px;
}

.channel-summary{
  text-align: center;
  font-size: 8pt;
  font-weight: bold;
}
.channel-summary .primary, .channel-summary .secondary{
  width: 100%;
  float: left;
  text-transform: uppercase;
  margin: 5px 0 10px 0;
}
.channel-summary .primary{
  padding-bottom: 10px;
}
.channel-summary .primary, .channel-summary .primary .posts-created{
  position: relative;
}
.channel-summary .primary:after{
  content: '';
  width: 50%;
  position: absolute;
  left: 20%;
  bottom: 0;
  border: 1px solid #eee;
}
.channel-summary .primary .posts-created:after{
  content: '';
  height: 50%;
  position: absolute;
  top: 20%;
  right: 0;
  border: 1px solid #eee;
}

.channel-summary p{
  font-size: 10pt;
  display: block;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 45%;
  text-align: center;
}
.channel-summary p strong{
  color: lightgreen;
  font-size: 40px;
  display: block;
}
.channel-summary p img{
  width: 75px;
}
.channel-summary .secondary p img{
  width: 50px;
}

.channel-summary .secondary p{
  display: block;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 29%;
  text-align: center;
}
.channel-summary .secondary p strong{
  color: #6796FF;
  font-size: 30px;
  display: block;
}

.fb_page .channel-summary p{
  font-size: 14px;
}
.fb_page .channel-summary p strong{
  font-size: 30px;
}
.fb_page .channel-summary .secondary p{

}
.fb_page .channel-summary .secondary p strong{
  font-size: 22px;
}

@media (max-width: 900px) {
 .section, .section.wide{
    width: 95%;
    height: auto;
    min-height: auto;
 }

 .channel-summary p{
   width: 45%;
   padding: 5px;
   margin: 5px;
   font-size: 12px;
 }

 .channel-summary p strong{
   font-size: 18px;
 }

 .channel-summary p img{
    width: 100px;
  }
 .channel-summary .secondary p img{
     width: 75px;
 }


  .location_data table{
    font-size: .8em;
  }

}

@media (max-width: 400px) {
.section, .section.wide{
  height: auto;
  min-height: auto;
}
 .channel-summary p{
   width: 45%;
   padding: 5px;
   margin: 5px;
   font-size: 12px;
 }

 .channel-summary p strong{
   font-size: 18px;
 }

 .channel-summary p img{
    width: 50px;
  }
 .channel-summary .secondary p img{
     width: 30px;
 }

.channel-summary p{
  font-size: 12px;
}
.channel-summary p strong{
  font-size: 28px;
}
.channel-summary .secondary p strong{
  font-size: 18px;
}

.fb_page .channel-summary p{
  font-size: 12px;
}
.fb_page .channel-summary p strong{
  font-size: 28px;
}
.fb_page .channel-summary .secondary p strong{
  font-size: 18px;
}


.post img.thumb{
  width: 30%;
}
.post .date{
  width: 65%;
}
.post p.message{
  width: 65%;
}
.post p.stats{
  margin-top: 5px;
  width: 100%;
}


}

