#page{
  padding-top: 0;

}
.switcher {
  margin-top: 10px;

}
.switcher .button{
  font-size: 13px;
  background-color: #f8f8f8;
  color: #ccc;
  text-transform: none;
  margin: 0;
  border: none;
  padding: 15px 20px;

}
.switcher .button.current{
    color: #000;
    background-color: #FFF;
}
p.all-approved{
  padding: 10px;
}
.post {
  padding: 10px;
  width: calc(30% - 30px);
  min-width: 420px;
  margin: 10px;
  border: 1px solid #ccc;
  text-align: left;
  background-color: #E5EAF1;
  border-color: #ABBEDA;
  box-shadow: 0 3px 3px -3px #ABBEDA;
  position: relative;
  float: left;
  border-radius: 5px;
  min-height: 550px;
}
.post .message{
  height: 44px;
  overflow: hidden;
}
.post .fa{
  float: left;
  margin-right: 10px;
}
.post .pub-date{
  color: #999;
}
.post.new {
  background-color: #FFF3D9;
  border-color: #FFBA00;
  box-shadow: 0 3px 3px -3px #FFBA00;
}
.post.approved {
  background-color: #E5EAF1;
  border-color: #ABBEDA;
  box-shadow: 0 3px 3px -3px #ABBEDA;
}
.post.rejected {
  background-color: #FEF5F5;
  border-color: #FF0000;
  box-shadow: 0 3px 3px -3px #FF0000;
}
.post.expired {
  background-color: #eee;
  border-color: #ccc;
  box-shadow: 0 3px 3px -3px #ccc;
}
.buttons{
  width: 100%;
  text-align: right;
  float: left;
  margin-top: 10px;
}
.post .btn{
  border-radius: 25px;
  color: #FFF;
  padding: 10px 30px;
  font-weight: bold;
  text-transform: none;
  font-size: 1.2em;
}
.btn.approve{
  background-color: green;
}
.btn.reject{
  background-color: red;
}
.thumb{
  float: left;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  min-width: 300px;
  height: 100%;
  height: 360px;
  overflow: hidden;
}
.thumb.short{
  max-height: 200px;
}
.thumb video{
  width: 100%;
}
.text{
  float: left;
  width: 100%;
  padding: 10px;
  min-width: 300px;
}
.post .text h4{
  min-height: 40px;
}
@media (max-width: 920px) {
  .thumb, .text{
    width: 100%;
  }
  .post {
    margin: 15px;
  }
  .switcher .button{
    width: 32%;
  }
}
