<div id="page">

<div class="button-bar switcher">
  <button class="button"
    [ngClass]="{ 'current' : filterTxt == 'new' }"
    (click)="filterTxt = 'new'">
      New ({{sociService.getNewCount()}})
  </button>
  <button class="button"
    [ngClass]="{ 'current' : filterTxt == 'approved' }"
    (click)="filterTxt = 'approved'">
    Approved ({{sociService.getApprovedCount()}})
  </button>
  <button class="button"
    [ngClass]="{ 'current' : filterTxt == 'rejected' }"
    (click)="filterTxt = 'rejected'">
    Modified ({{sociService.getRejectedCount()}})
  </button>
</div>

<p class="all-approved" *ngIf="(sociService.getNewCount()|async) == 0 && filterTxt == 'new'">
  You have approved/modified all your upcoming posts!
</p>
  <ng-template let-post ngFor [ngForOf]="(posts | async)">
  <div class="post"
		  [ngClass]="post.expired ? 'expired' : post.status"
 			*ngIf="!post.expired && filter(post.status)">
    <i class="fa fa-3x fa-{{post?.network}}-square"></i>
<!--     <strong>{{post.remote_name}}</strong> -->
    <p class="pub-date">
          {{post?.date | date: 'EEEE, MMMM d'}}
         <br/>
         {{post?.date | date: 'HH:mm a'}}
    </p>

    <p class="message" [innerHTML]="post.message">
    </p>


    <div *ngIf="post.data.picture || post.video" class="thumb" [ngClass]="post.data.link ? 'short' : ''">
      <video *ngIf="post.video" controls >
        <source src="{{post.video.url}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <img *ngIf="post.data.picture" [src]="post.data.picture"/>
    </div>

    <div *ngIf="post.data.link" class="text">
      <h4>{{post.data.name | ellipsis: 80}}</h4>
      {{post.data.meta?.og_description | ellipsis:100}}<br/>
      <p>
       <a class="external-link" href="{{post.data.link}}" target="_blank">
        <img src="assets/external-link-sm.png"/>
         Open link in browser
       </a>
      </p>
    </div>


    <div class="buttons">
     <span *ngIf="post.status == 'rejected'" class="modification"><strong>Change requested:</strong> {{post.rejection_message}}</span>
     <button *ngIf="post.status != 'rejected'" class="btn reject" (click)="selectedPost = post; modifyPost.open()">Modify</button>
     <button *ngIf="post.status != 'approved'" class="btn approve" (click)="approve(post)">Approve</button>
     <!--<p class="timeLeft">You have {{post.timeLeft}} to reject this post.</p>-->
    </div>
	</div>
	</ng-template>


<modal title="Modify Post" #modifyPost
     modalClass="edit-modal"
     hideCloseButton="false"
     hideSubmitButton="false"
     closeOnEscape="true"
     closeOnOutsideClick="true">

  <modal-content>
    <h2>What would you like us to change?</h2>
    <textarea [(ngModel)]="reason">

    </textarea>

  </modal-content>

  <modal-footer>

    <button class="btn" (click)="modifyPost.close()">Cancel</button>
    <button class="btn" (click)="modify(); modifyPost.close()">Modify</button>

  </modal-footer>


</modal>

</div>
