form, #result{
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.basic-btn{
  background-color: #2C4870;
}

#goback{
  color: #2C4870;
}

.error{
  color: red;
}

@media screen and (max-width: 600px ){
  #loginLink {
    display: none;
  }

}
