<div id="page">
    <a routerLink="/login-email" id="goback">Go back</a>
  <img src="assets/welcome-logo.png" class="welcome"/>
  <div class="clear"></div>

  <div class="error" *ngIf="!code || !email">
    We're sorry, it looks like the link you clicked is no longer valid.

  </div>

    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" *ngIf="!sent && code && email">
      <p>Reset your password
      for <strong>{{email}}</strong></p>
      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

      <input type="password" placeholder="New Password" (ngModel)="password" name="password" class="txt" required>

      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Save</button>
  </form>

  <div id="result" *ngIf="sent">
    <p>Thank you. You may now return to the app and log in</p>
        <button class="basic-btn" id="loginLink" routerLink="/login-email">Go to Login Page</button>
  </div>

</div>
