    <div id="page" >
      <div class="clear">
        <button class="upload-btn" *ngIf="!fileModal.isOpened" (click)="fileModal.open(); description='';">Upload Now</button>
      </div>
      <image-modal #editModal></image-modal>
      <modal title="Upload an Image" #fileModal
            modalClass="upload-modal"
            hideCloseButton="true"
            hideSubmitButton="true"
            closeOnEscape="true"
            closeOnOutsideClick="true"
            >

        <modal-header>
            <span class="error" *ngIf="errorText" ngDefaultControl>{{errorText}}</span>
        </modal-header>

        <modal-content>
            <input type="file" id="file" [disabled]="uploading"/>
            <input type="text" placeholder="Description" id="new_description" class="description"/>
        </modal-content>

        <modal-footer>
          <button class="btn" (click)="fileModal.close()">Cancel</button>
          <button class="btn btn-primary" (click)="upload()" [disabled]="uploading">
            {{ uploading ? "Please wait..." : "Upload"}}
            <i class="glyphicon glyphicon-hourglass" *ngIf="uploading"></i>
          </button>
        </modal-footer>

      </modal>


      <div >
      <pagination-controls *ngIf="(imagesList | async)?.length > pageSize" (pageChange)="p = $event"></pagination-controls>
       <div class="thumb" *ngFor="let image of imagesList | async | orderBy: ['-$key'] | paginate: { itemsPerPage: pageSize, currentPage: p }">
<!--           <img class="spinner" src="assets/spinner.gif"/> -->
 <!--
        <video *ngIf="isVideo(image.url)" controls [poster]="image.thumb ? sanitize(image.thumb) : ''">
           <source src="{{image.url}}" type="video/mp4">
           Your browser does not support the video tag.
         </video>
 -->
         <a href="javascript:void(0)" (click)="editImage(image)">
           <i *ngIf="isVideo(image.url)" class="glyphicon glyphicon-play"></i>
           <img [src]="image.thumb ? sanitize(image.thumb) : image.url "  /> <!--image.thumb ? sanitize(image.thumb) : (isVideo(image.url) ? '' : image.url)"/>-->
         </a>
         <div class="info">
           <p class="description">
             <strong>Description: </strong>{{image.description | ellipsis: 70 }}
             <a href="javascript:void(0)" (click)="editImage(image)">edit</a><br/>
           </p>
           <p class="uploader">
              <strong>Uploaded by: </strong> {{image.uploadedBy}}<br/>
           </p>
         </div>
       </div>

      </div>
    </div>
