#page .thumb {
   width: 200px;
   height: 270px;
   float: left;
   margin: 5px 5px;
   font-size: 12px;
   background-color: #f7f7f7;
   position: relative;
   box-shadow: 0 1px 8px rgba(0,0,0,0.09);
   border: 1px solid #e4e4e4;
}
#page .thumb img {
   width: 100%;
   height: 65%;
   -o-object-fit: cover;
   object-fit: cover;
   margin-bottom: 5px;
   z-index: 10;
   position: absolute;
   background: url(data:image/gif;base64,R0lGODlhQAFAAfMAAP///8bX64Sq1bbM5pq53DZ1u1aLxtjk8eTs9…KMNuroo5BGKumklFZq6aWYZqrpppx26umnoIYq6qiklmrqqaimquqqrLbq6quwxirrrKdGAAA7);
   background-size: 100% 100%;
   background-repeat: no-repeat;
}
#page .thumb img.spinner{
  position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#page .thumb a .glyphicon{
    position: absolute;
    top: 20%;
    left: 35%;
    z-index: 20;
    font-size: 60px;
    color: #999;
  }
#page .thumb video{
  width: 100%;
  height: 70%;
}
#page .thumb .info{
  position: absolute;
  bottom: 1px;
  margin-left: 7px;
}
#page .thumb .info .description{
  max-height: 30px;
  overflow: hidden;
}

.upload-btn, .btn-primary{
  background-color: #2e6da4;
  border-radius: 5px;
  width: 230px;
  color: #FFF;
  float: left;
  margin-left: 7px;
}


@media (max-width: 600px){
  #page .thumb{
    min-width: 100px;
    width: 45%;
    height: 45vw;
    font-size: 11px;
    padding: 5px;
    margin: 5px;
  }
  #page .thumb video, #page .thumb img{
    height: 100%;
  }
  #page .thumb .info{
    display: none;
  }
}


