.large-thumb{
  width: 48%;
  float: left;
  position: relative;
}
.large-thumb img{
  width: 100%;
  min-height: 200px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  background: url(../../assets/spinner.gif);
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.large-thumb .download{
  padding: 10px 5px;
  display: block;
}
.large-caption{
  float: right;
  width: 50%;
  height: 30vh;
  max-height: 90%;
}
.large-caption textarea{
  height: 100%;
  max-height: 80%;
}

.edit-modal .modal-body{
  float: left;
  width: 100%;
}

.edit-modal .modal-footer{
  clear: both;
}
