<modal title="Edit Image" #editModal
    cancelButtonLabel="cancel"
    submitButtonLabel="Save Changes"
    modalClass="edit-modal"
    hideCloseButton="false"
    hideSubmitButton="true"
    closeOnEscape="true"
    closeOnOutsideClick="true"
    (onSubmit)="saveChanges(); editModal.close();"
    >

	<modal-header>
	    <span class="error" *ngIf="errorText" ngDefaultControl>{{errorText}}</span>
	</modal-header>

	<modal-content>
	  <div class="large-thumb">
	<!--            <img class="spinner" src="assets/spinner.gif"/> -->
		   <video *ngIf="isVideo(image?.url)"
		         controls
		         class="large-thumb"
		         src="{{image?.url}}">
		    	<source src="{{image?.url}}" type="video/mp4">
		    Your browser does not support the video tag.
		   </video>
		   <img *ngIf="!isVideo(image?.url)" src="{{image?.magic_url ? image.magic_url+'=s500' : image?.url}}"/>
		   <p *ngIf="!isVideo(image?.url)">
		      <a class="download" href="{{image?.url}}"><i class="glyphicon glyphicon-download-alt"></i> Download full-size image</a>
		   </p>
	  </div>
	    <div class="large-caption">
	      <h4>Description</h4>
	      <textarea placeholder="Description"
	                id="description" class="description"
	                [value]="image?.description">
	      </textarea>
	    </div>
	</modal-content>

	<modal-footer>
	</modal-footer>

</modal>