<div id="page">

<h2>Lights, Camera, Action!</h2>

<div id="request-video">

<p>
<strong>
In 2016, TechCrunch announced that over 8 billion videos or 100 million hours of videos are watched on Facebook every day!
</strong>
</p>

<p>
With the meteoric rise of video coming to social media, it’s more important than ever to make sure that your page is sharing high-quality videos about your brand. But creating these videos can be difficult and the results are often far from steller.
</p>

<p>
Introducing Jumpcrew Video.
</p>

<p>
Jumpcrew is excited to now offer to our clients the ability to create custom high-quality video from start to finish. Our team of skilled social account managers, social strategists, video editors, copywriters, and videographers will work together to produce a high-quality video, specifically for you!
</p>

<p>
<strong>
To learn more about getting your video created, click the button below and your Jumpcrew Account Manager will reach out to get the conversation started!
</strong>
</p>

<button class="button" (click)="sendRequest()">
  Request a Video
</button>

</div>

<iframe class="video" width="450" height="315" src="https://www.youtube.com/embed/JEElWsuHcF8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

</div>

