#request-video{
  width: 95%;
  padding: 0 20px;
  color: #2C4870;
  max-width: 500px;
  float: left;
  margin-right: 20px;
}
.video{
  float: left;
  max-width: 500px;
  width: 95%;
}
h2{
  padding: 0 10px;
  color: #2C4870;
}
p{
  margin: 15px 0;
}
button{
  border-radius: 25px;
  font-size: 1.3em;
  text-transform: none;
  margin: 15px 0;
  padding: 15px 20px;
}
@media (max-width: 600px) {
  .video{
    width: 95%;
    margin-left: 2vw;
  }

}
