.chat-msg{
  font-family: Raleway;
}
.chat-msg strong{
  text-transform: uppercase;
}
.chat-msg span.time{
  font-weight: normal;
  color: #888;
}
.chat-msg.manager strong{
  color: #009FC4;
}
label.msg{
  width: 80%;
  float: left;
}

.send-message-bar{
  position: fixed;
  bottom: 0;
  width: calc(100% - 250px);
}

.send-message-bar button{
  float: right;
  width: 15%;
  margin-right: 2%;
  margin-left: 2%;
}

#page{
  margin-bottom: 30px;
  width: 700px;
  margin: auto;
  background-color: #FFF;
}

.container{
  background: #DDD;
}

.bar-contents{
  width: 700px;
  margin: auto;
  padding: 0 10px;
}
#end{
  height: 80px;
}
