<div class="container">
<div #page id="page" style="overflow: scroll; height: xyz;">
      <div *ngFor="let message of messages"
          class="chat-msg" [ngClass]="{'manager': message.manager }">
          <strong>{{message.user}} <span class="time" ng-click="clickItem()">{{message.date | date:'MM/dd/yyyy HH:mm'}}</span></strong>
          <p [innerHTML]="message.text | safeHTML "></p>
      </div>
      <div class="clear" id="end"></div>
</div>
<div class="bar bar-footer send-message-bar">
  <div class="bar-contents">
    <label class="msg">
       <textarea placeholder="Message" msd-elastic="\n"
               id="txtMessage"
               ng-focus="reScroll()" ng-blur="reScroll()"
               [(ngModel)]="message"
               ng-disabled="sending"
               ng-keyup="expandText()"
               ng-keydown="expandText()"
               ng-blur="expandText()">
         </textarea>
     </label>

     <button type="submit"
             ng-class="{hide:!message}"
             (click)="sendMessage()"
             class="button button-clear button-positive"
             ng-disabled="sending"
            >
       Send
     </button>
    </div>
</div>
</div>
