app-login
{
  left: 0;

}
#page{
  background-color: #FFF;
  text-align: center;
}

button{
  background-color: #284670;
  border-radius: 5px;
  width: 230px;
  color: #FFF;
}

@media (max-width: 600px) {
  #page{
    padding: 0;
  }
}
