<div id="page" class="login"><!--[@moveInLeft]="state">-->
  <div class="clear">
    <img src="assets/welcome-logo.png" class="welcome"/>
  </div>
  <span class="error" *ngIf="error">{{ error }}</span>

<!--   <button (click)="loginFb()" id="fb">Login With Facebook</button><br> -->
  <!--<button (click)="loginGoogle()" id="google">Login With Google</button>-->
  <button routerLink="/login-email" id="email">Login with Email</button>
  <!--  <a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>-->
</div>
