<modal title="Post Details" #postDetails
     modalClass="post-modal"
    [hideCloseButton]="false"
     hideSubmitButton="true"
     closeOnEscape="true"
     closeOnOutsideClick="true"
     (onClose)="modalClosed()"
     >

  <modal-header>
    <span class="error" *ngIf="errorText" ngDefaultControl>{{errorText}}</span>
  </modal-header>

  <modal-content>
  <button class="close" (click)="postDetails.close()"><i class="glyphicon glyphicon-remove"></i></button>
      <img class="large-thumb" *ngIf="post?.data && post.data?.picture" src="{{post?.data.picture}}"/>
      <video class="large-thumb" *ngIf="post?.video" controls id="videoElem" #myVideo>
        Your browser does not support the video tag.
      </video>
    <div class="post-detail">
      <div class="center">
       <label class="schedule">
        <i class="fa fa-3x fa-{{post?.network}}-square"></i>
         {{post?.date | date: 'EEEE, MMMM d'}}
         <br/>
         {{post?.date | date: 'HH:mm a'}}
<!--          <br/>{{post?.id}} -->
         </label>
         <div class="buttons">
             <button class="btn approve" *ngIf="!post?.expired && post?.customer_approved != 1" (click)="approve(); postDetails.close();">Approve</button>
             <button class="btn reject" *ngIf="!post?.expired && post?.customer_approved != -1" (click)="modifyPost.open()">Modify</button>
             <span class="modification" *ngIf="post?.customer_approved == -1"><strong>Change requested:</strong> "{{post.rejection_message}}"</span>
             <span class="expired_notice" *ngIf="post?.expired">The rejection period for this post has passed.</span>
         </div>
        </div>
      <p class="message" [innerHTML]="post?.message | safeHTML "></p>

    <div class="link" *ngIf="post?.data.link">
      <h4>{{post?.data.name}}</h4>
      {{post?.data.meta?.og_description}}<br/>
      <!--<span class="link">{{post.data.caption}}</span>-->
      <p>
       <a class="external-link" href="{{post.data.link}}" target="_blank">
        <img src="assets/external-link-sm.png"/>
         Open link in browser
       </a>
      </p>
    </div>

    </div>

  </modal-content>

  <modal-footer>
  </modal-footer>

</modal>


<modal title="Modify Post" #modifyPost
     modalClass="edit-modal"
     hideCloseButton="false"
     hideSubmitButton="false"
     closeOnEscape="true"
     closeOnOutsideClick="true"
     (onClose)="postDetails.close()">

  <modal-content>
    <h2>What would you like us to change?</h2>
    <textarea [(ngModel)]="reason">

    </textarea>

  </modal-content>

  <modal-footer>

    <button class="btn" (click)="modifyPost.close()">Cancel</button>
    <button class="btn" (click)="modify(); modifyPost.close()">Modify</button>

  </modal-footer>


</modal>
