header{
  float: left;
}
header h2{
  float: left;
  margin: 10px;
}
header button{
  float: right;
  margin-right: 10px;
  margin-bottom: 0;
  padding: 15px;
}
ng-sidebar-container{
  height: 100vh;
}
.field-name{
  padding: 5px 0 0 0;
  font-size: 12px;
  color: #FFF;
}
.field{
  font-size: 16px;
  color: #FFF;
}
.pin-to-bottom{
  position: absolute;
  bottom: 10px;
}
.logout{
  float: right;
  margin: 10px;
}
select{
  color: #000;
  height: 40px;
}
