<!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container>

      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" position="right" showBackdrop="false" mode="push"
          closeOnClickBackdrop="true">
        <h3>Your Account
          <button class="glyphicon glyphicon-chevron-right" closeSidebar></button>
        </h3>
        <label class="field-name">Company:</label><br/>
        <label class="field" *ngIf="companies?.length == 1">{{companyName}}</label>
        <select #companySelect *ngIf="companies?.length > 1" (change)="switchAccount($event.target.value); _opened=false">
          <ng-template let-comp ngFor [ngForOf]="companies">
            <option [value]="comp.$key" [selected]="companyKey == comp.$key">{{comp.name}}</option>
          </ng-template>
        </select>
        <br/><br/>
        <label class="field-name">Logged in as:</label><br/>
        <label class="field">{{firstName}} {{lastName}}</label><br/><br/>
        <label class="field-name">Email:</label><br/>
        <label class="field">{{email}}</label><br/>
        <div class="pin-to-bottom">
          <button (click)="showNPSForm(); _opened=false">Tell us what you think</button>
          <br/>
        </div>
        <button class="logout" (click)="logout(); _opened=false">Log out&nbsp;<i class="glyphicon glyphicon-log-out"></i></button>

      </ng-sidebar>

      <!-- Page content -->
      <div class="form-container" id="toolbar" ng-sidebar-content>


   <header *ngIf="(afAuth.authState | async)?.uid != null"><!--[@fallIn]="state">-->
    <img src="assets/jumpcrew-logo.png" class="logo">
    <h2 class="title">{{account_type_str}}</h2>
    <button (click)="_opened=true"><i class="glyphicon glyphicon-user" ></i></button>
   </header>
   <div class="push" *ngIf="(afAuth.authState | async)?.uid != null"></div>
   <div id="wrapper" [ngClass]="{'toggled' : (afAuth.authState | async)?.uid != null }">
     <div class="sidebar-nav" id="sidebar-wrapper">
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/home']">
             <i class="glyphicon glyphicon-home"></i>
             Home
          </a>
        </li>
        <li>
          <a [routerLinkActive]="['active']" [routerLink]="['/uploads']">
             <i class="glyphicon glyphicon-cloud-upload"></i>
             Uploads
          </a>
        </li>

        <li>
          <a (click)="openUpsellModal()"
          [routerLink]="(company|async)?.account_type.engage || (company|async)?.account_type.premier ? '/approve': null"
          [routerLinkActive]="['active']"
          [ngClass]="{'locked': ((company|async)?.account_type.ignite || (company|async)?.account_type.spark)}">
              <i class="glyphicon glyphicon-thumbs-up"></i>
              Upcoming Content
          </a>
        </li>


        <li>
          <a (click)="openUpsellModal()"
          [routerLink]="(company|async)?.account_type.engage || (company|async)?.account_type.premier ? '/content-calendar': null"
          [routerLinkActive]="['active']"
          [ngClass]="{'locked': ((company|async)?.account_type.ignite || (company|async)?.account_type.spark)}">
              <i class="glyphicon glyphicon-calendar"></i>
              Calendar
          </a>
        </li>

        <li>
          <a (click)="openUpsellModal()"
          [routerLink]="(company|async)?.account_type.engage || (company|async)?.account_type.premier ? '/report': null"
          [routerLinkActive]="['active']"
          [ngClass]="{'locked': ((company|async)?.account_type.ignite || (company|async)?.account_type.spark)}">
              <i class="glyphicon glyphicon-stats"></i>
              Reporting
          </a>
        </li>

        <li>
          <a [routerLink]="['/chat']" [routerLinkActive]="['active']">
             <i class="glyphicon glyphicon-comment"></i>
             Chat
          </a>
        </li>

        <li *ngIf="(company|async)?.uberall_account && (company|async)?.uberall_location">
          <a href="{{server_url}}/login_uberall.php?email={{email}}" target="_blank">
             <i class="glyphicon glyphicon-map-marker"></i>
             Local Listings
          </a>
        </li>

        <li *ngIf="(company|async)?.account_type.ignite || soci_key">
          <a href="{{soci_url}}/admin/?api_key={{soci_key}}" target="_blank">
              <i class="glyphicon glyphicon-edit"></i>
              Social Management
          </a>
        </li>
        <li *ngIf="(company|async)?.account_type.spark">
          <a href="javascript:void(0)" class="locked" (click)="upsellModal.open();" >
              <i class="glyphicon glyphicon-edit"></i>
              Social Management
          </a>
        </li>

        <li>
          <a [routerLink]="['/request-video']" [routerLinkActive]="['active']">
           <i class="glyphicon glyphicon-facetime-video"></i>
           Request a Video
          </a>
        </li>

        <li class="logoutLink">
          <a (click)="logout()" [routerLinkActive]="['active']">
             <i class="glyphicon glyphicon-log-out"></i>
             Logout
          </a>
        </li>
     </div>
     <div id="page-content-wrapper">
       <router-outlet></router-outlet>
     </div>
   </div>
</div>



    </ng-sidebar-container>

<modal title="" #upsellModal
   cancelButtonLabel="No"
   submitButtonLabel="Yes"
   modalClass="upsell-modal"
   hideCloseButton="false"
   closeOnEscape="true"
   closeOnOutsideClick="true"
   (onSubmit)="upsell(); upsellModal.close();"
   >

   <modal-header>
      <span class="error" *ngIf="errorText" ngDefaultControl>{{errorText}}</span>
   </modal-header>

   <modal-content>
     <div class="modal-text">
      <h3>Your account doesn't have this feature? Would you like to unlock it?</h3>
      <p>You'll get a dedicated social media account manager who will manage your different accounts.</p>
      <p>Would you like to learn more?</p>
     </div>
   </modal-content>

   <modal-footer>

   </modal-footer>

</modal>
