<div id="page">
    <a routerLink="/login" id="goback">Go back</a>
  <img src="assets/welcome-logo.png" class="welcome"/>
  <div class="clear"></div>



    <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required placeholder="Email address">
      <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required placeholder="Password">

      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Log in</button>
      <p>
      <a routerLink="/forgot-password" id="password-reset">Oops, I forgot my Password</a>
      </p>
  </form>
</div>
