<div id="page">
  <a routerLink="/login-email" id="goback">Go back</a>
  <img src="assets/welcome-logo.png" class="welcome"/>
  <div class="clear"></div>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)" *ngIf="!sent">
      <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

      <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required placeholder="Email address">

      <button type="submit" [disabled]="!formData.valid" class="basic-btn">Reset My Password</button>
  </form>

  <div id="result" *ngIf="sent">
    <p>Thank you. <strong>Please check your email</strong> for a special link to reset your password, then return to the login page.</p>
        <button class="basic-btn" routerLink="/login-email">Go to Login Page</button>
  </div>

</div>
