@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background:#FFF;
}
div.clear{
  clear: both;
  width: 100%;
  float: left;
}
.form-container {
    background:white;
    overflow-y: auto;
}
#page {
  padding: 1em;
}
#page{
  margin: auto;
  width: 95%;
}
button {
    padding:1.2em;
    /*width:100%;*/
    cursor:pointer;
    margin-bottom:15px;
    font-size:1em;
    font-weight: bold;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
}

.basic-btn {
    background: #3B8598;
    color:white;
}

input.txt {
    background:#fff !important;
    padding: 0 1em;
    height: 45px;
    font-size:1.3em;
    border: 1px solid #BBBBBB;
}

h2 {
    margin: 1.7em 0 .9em 0;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:#3B8598;
}
#goback span {
    font-size:1em;
}



.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}


.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


header{
  text-align: left;
  float: left;
  margin-bottom: 0;
  width: 100%;
  background: #FFF;
  padding: 0;
  position: fixed;
  z-index: 98;
  box-shadow: 0 3px 5px #ccc;
  border-bottom: 1px solid #ccc;
  color: #2C4870;
}
header h2.title{
    float: left;
    border-left: 1px solid #2C4870;
    padding: 3px 20px;
    margin: 0;
    text-transform: uppercase;
    font-family: Raleway;
    font-size: 1.6em;
    letter-spacing: 2px;
    color: #2C4870;
}
header h2{
  float: left;
  color: white;
  font-weight: normal;
}
header button.basic-btn{
  background: #2C4870;
  outline: none;
}
header .logo{
  width: 220px;
  float: left;
  padding: 5px;
}
header .menu{
  width: 650px;
  float: right;
  padding-top: 10px;
}
header button.active{
  color: #009FC4;
  text-decoration: underline;
  margin-right: 10px;
}
.push{
  margin-bottom: 53px;
}
.upload-btn, .btn-primary{
  background-color: #2e6da4;
  border-radius: 5px;
  width: 230px;
  color: #FFF;
  float: right;
}
.upload-modal{
  border-radius: 15px;
}
img.welcome {
  max-width: 500px;
  width: 100%;
  margin: auto;
  display: block;
  padding-left: 20px;
}

.edit-modal .modal-body{
  float: left;
  width: 100%;
}

.edit-modal .modal-footer{
  clear: both;
}

.post-modal{

}
.post-modal .modal-header, .post-modal .modal-footer{
  display: none;
}
.post-modal .modal-content{
  overflow: hidden;
}
.post-modal .modal-body{
  padding: 0;
}
.post-modal .modal-content img.large-thumb, .post-modal .modal-content video.large-thumb{
  background: url(/assets/spinner.gif);
  min-height: 200px;
  object-fit: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}
.post-modal .modal-content img.large-thumb{
  max-height: 250px;
}
.post-modal .modal-content .post-detail{
  padding: 15px;
}
.post-modal button.close{
  position: absolute;
  top: 5px;
  right: 6px;
  z-index: 20;
}
.post-detail .center{
  clear: both;
  width: 100%;
  float: left;
  height: 65px;
}
.post-detail .schedule{
  float: left;
  margin: 5px 10px;
  font-weight: normal;
  font-size: 13px;
  color: #333;
  line-height: 20px;
}
.post-detail .fa{
  float: left;
  margin-right: 12px;
}
.post-detail .network-icon{
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  background-size: 128px 128px;
  background-repeat: no-repeat;
  background-image: url(/assets/social-icons-lg.png);
  background-position-y: -4px;
}
.post-detail .network-icon.facebook{
  background-position-x: -48px;
}
.post-detail .network-icon.twitter{
  background-position-x: -90px;
}
.post-detail .network-icon.gplus{
  background-position-x: -4px;
  background-position-y: -93px;
}
.post-detail .network-icon.linkedin{
  background-position-x: -90px;
  background-position-y: -47px;
}


.post-detail .buttons{
  float: right;
  width: 60%;
}
.post-detail .buttons .btn{
    border-radius: 25px;
    text-transform: none;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
    float: right;
    margin-left: 8px;
}
.post-detail .buttons .btn.reject{
  background-color: red;
}
.post-detail .buttons .btn.approve{
  background-color: green;
}
.post-detail .message{
  margin: 5px 10px;
}
.post-detail .link{
  margin: 5px 10px;
}
.post-detail .buttons .modification{
  display: inline-block;
  font-size: 11px;
  width: 60%;
  float: left;
}
.post-detail .buttons .modification strong{
  color: red;
}



.container{
  width: 100% !important;
}
.em{
  font-size: 20px;
  font-style: initial;
}
.em:before{
  font-size: 1.5em;
  line-height: 1.2em;
}
.em-upside_down_face:before{
  content: '\1F643';
}
.em-nerd_face:before{
  content: '\1F913';
}
.em-hugging_face:before{
  content: '\1F917';
}
.em-slightly_smiling_face:before,.em-simple_smile:before{
  content: '\1F642';
}
.em-the_horns:before{
  content: '\1F918';
}
.em-face_with_rolling_eyes:before{
  content: '\1F644';
}
.em-skull_and_crossbones:before{
  content: '\1F480';
}
.em-money_mouth_face:before{
  content: '\1F911';
}

.em-slightly_frowning_face:before{
  content: '\1F641';
}

.em-white_frowning_face:before{
  content: '\2639';
}

.em-zipper_mouth_face:before{
  content: '\1F910';
}

.em-thinking_face:before{
  content: '\1F914';
}

.em-face_with_thermometer:before{
  content: '\1F912';
}

.em-face_with_head_bandage:before{
  content: '\1F915';
}

.em-robot_face:before{
  content: '\1F916';
}
.em-crescent_moon:before{
  content: '\1F319';
}
.em-black_large_square:before{
  content: '\2B1B';
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 140px;
}

#sidebar-wrapper {
    z-index: 98;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 140px;
}

.toggled #page-content-wrapper {
    width: calc(100% - 140px);
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    width: 180px;
    margin: 0;
    padding: 15px 0;
    list-style: none;
    font-family: Raleway, sans-serif;
    box-shadow: 3px 3px 5px rgba(204, 204, 204, 0.5)
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #2C4870;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.sidebar-nav li a .glyphicon {
  margin-left: -25px;
  font-size: 28px;
  top: 5px;
  text-align: center;
  display: block;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: #2C4870 ;
    color: white;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   text-decoration: none;
    background: #2C4870 ;
    color: white;
}
.sidebar-nav li a.locked{
  color: #888;
}
.upsell-modal{
  padding: 0;
  border-radius: 0;
}
.upsell-modal .modal-content{
  background-image: url('assets/salesperson.jpg');
  background-size: 315px;
  background-position-x: -40px;
  background-repeat: no-repeat;
  border-radius: 0;
}
.upsell-modal .modal-content .modal-text{
  width: 270px;
  margin-left: 300px;
}
.upsell-modal .modal-header{
  display: none;
}
.upsell-modal .modal-footer{
  border-top: none;
}


.edit-modal{
  width: 700px;
}
.edit-modal .modal-content{
}
.edit-modal .modal-content img, .edit-modal .modal-content video{
  width: 100%;
}
.edit-modal .modal-content .large-thumb img, .edit-modal .modal-content .large-thumb video{
    z-index: 10;
    background: url(/assets/spinner.gif);
}
.edit-modal .modal-content .large-thumb img.spinner{
    z-index: 1;
}

.edit-modal .modal-header{
  display: none;
}
.edit-modal button{
  font-weight: bold;
}
.edit-modal a.external-link img{
  width: 24px;
  height: 24px;
}

.ng-sidebar {
    background-color: #2C4870;
    color: #FFF;
    padding-left: 20px;
    width: 280px;
}

@media (max-width: 600px) {
    body {
    }
    .form-container {
    }
    button {
        font-size:1em;
    }
    #sidebar-wrapper{
      width: 100%;
      height: 55px;
      left: 0;
      bottom: 0;
      padding: 7px 5px 5px 0;
      background-color: #2C4870;
      margin-left: 0;
    }
    .sidebar-nav li {
      display: block;
      float: left;
      width: 20%;
      line-height: 15px;
    }
    .sidebar-nav li a{
      color: #FFF;
      font-size: 11px;
      text-align: center;
      padding: 0;
    }
    .sidebar-nav li a .glyphicon {
      display: block;
      margin: 0 20px 7px 0;
      text-align: center;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 100%;
    }
    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      left: 0;
      margin-right: 0;
      width: 100%;
      padding-bottom: 50px;
    }
    .sidebar-nav li.logoutLink {
      display: none;
    }
    header h2.title {
      display: none;
    }
    #page{
      padding: 20px 0;
    }
    .edit-modal{
      width: 95%;
    }

    .edit-modal .modal-content .large-thumb, .edit-modal .modal-content .large-caption{
      width: 100%;
      max-width: 100%;
    }
    .edit-modal .modal-content .large-thumb{
      height: calc(70vh - 60px);
    }

    .edit-modal .modal-content .large-caption{
      height: 20vh;
    }


    .edit-modal .btn-primary{
      width: 130px;
    }

}


.fa-facebook, .fa-facebook-square {
    color: #3b5998
}
.fa-twitter, .fa-twitter-square {
    color: #00aced
}
.fa-gplus-square:before {
    content: "\f0d4";
}
.fa-google-plus, .fa-google-plus-square, .fa-gplus-square, .fa-gplus {
    color: #dd4b39
}
.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000
}
.fa-tumblr, .fa-tumblr-square {
    color: #32506d
}
.fa-vine {
    color: #00bf8f
}
.fa-flickr {
    color: #ff0084
}
.fa-vimeo-square {
    color: #aad450
}
.fa-pinterest, .fa-pinterest-square {
    color: #cb2027
}
.fa-linkedin, .fa-linkedin-square {
    color: #007bb6
}
.fa-instagram-square:before {
    content: "\f16d";

}
.fa-instagram, .fa-instagram-square {
    color: #517fa4;
    font-weight: bold;
}
.fa-spotify {
    color: #1ED760;
}
.fa-yelp-square:before {
    content: "\f1e9";
}
.fa-yelp-square, .fa-yelp{
    color: #D10E25
}
.top-posts .container{
  height: 700px !important;
}

.chart-holder canvas{
  width: 100% !important;
  height: 300px !important;
}


/*
.report .mat-tab-header{
    position: absolute !important;
    right: 10vw;
    top: 15px;
}
 */
