
	<div class="col-1">
		<h2>Welcome, {{userName}} </h2>
		<div class="stats" *ngIf="reports">
			<p>
				<strong
					[ngClass]="{'negative' : ( !total_reach || total_reach <= 0 ), 'positive' : total_reach > 0}">
					<span class="plus-sign">+</span>{{total_reach | number }}
				</strong> Reach
			</p>
			<p>
				<strong>{{total_followers | number }}</strong> Followers
			</p>
			<p>
				<strong
					[ngClass]="{'negative' : (!total_new_followers || total_new_followers <= 0), 'positive' : total_new_followers > 0}">
						<span class="plus-sign">+</span>{{ (total_new_followers ? total_new_followers : 0 )| number }}
				</strong> New Followers
			</p>

		</div>

		<div class="posts" *ngIf="posts">

			<h4>Upcoming Posts</h4>
			<ng-template let-post ngFor [ngForOf]="(posts | async)">
				<div class="post"
						  [ngClass]="post.expired ? 'expired' : post.status"
				 			>
				    <i class="fa fa-3x fa-{{post?.network}}-square"></i>
				<!--     <strong>{{post.remote_name}}</strong> -->
				    <p class="pub-date">
				          {{post?.date | date: 'EEEE, MMMM d'}}
				         |
				         {{post?.date | date: 'HH:mm a'}}
				    </p>

				    <p class="message" [innerHTML]="post.message">
				    </p>
				    <i class="goto glyphicon glyphicon-menu-right" (click)="editPost(post);"></i>
				</div>
			</ng-template>
		</div>
	</div>
	<div class="col-2">

		<div class="uploads" *ngIf="imagesList">
			<h4>Recent Uploads</h4>
			<div class="thumb" *ngFor="let image of imagesList | async | orderBy: ['-$key'] | slice: 0:9">
				<a (click)="showImage(image)">
					<i *ngIf="isVideo(image.url)" class="glyphicon glyphicon-play"></i>

					<img [src]="image.magic_url ? sanitize(image.magic_url + '=s250-c') : (image.frame_magic_url ? sanitize(image.frame_magic_url + '=s250-c') : image.url) "  />
				</a>
		</div>
	</div>

	</div>

<post-modal #postModal></post-modal>

<image-modal #imgModal></image-modal>
