h2{
	color: #2C4870;
	margin: 1em 0;
}
.col-1{
	float: left;
	width: 50%;
	padding: 0 25px;
	min-width: 450px;
	max-width: 600px;
}
.col-2{
	float: left;
	width: 40%;
	padding-top: 2em;
	min-width: 380px;
	max-width: 475px;
	margin-right: 10px;
}
.stats{
	float: left;
	margin-bottom: 15px;
}
.stats p {
    display: block;
    float: left;
    margin: 0 1.3vw 0 .8vw;
    text-align: center;
    font-weight: bold;
}
.stats p strong {
    clear: both;
    display: block;
    font-size: 2.4em;
}
.stats p strong.negative {
	color: #DD4B39;
}
.stats p strong.positive {
	color: green;
}
.stats p strong.negative .plus-sign{
	display: none;
}

.posts{
	float: left;
	clear: both;
	margin-top: 25px;
}
.posts .post{
	padding: 5px 0;
	margin: 5px 0;
	float: left;
}
.post .fa{
	float: left;
	margin-right: 15px;
}
.post .pub-date{
	color: #999;
	font-size: 9pt;
	line-height: 5px;
	padding-top: 5px;
	margin-bottom: 7px;
	float: left;
}
.post .message{
	font-weight: bold;
	font-size: 12px;
	float: left;
	width: 78%;
}
.post .goto{
	float: right;
	font-size: 18px;
	color: #CCC;
	cursor: pointer;
}

.uploads{
	max-width: 380px;
	float: right;
}
.uploads .thumb{
	float: left;
	width: 125px;
	height: 125px;
	position: relative;
}
.uploads .thumb img{
	width: 100%;
	height: 100%;
}
.uploads .thumb:first-of-type {
	width: 250px;
	height: 250px;
}

.uploads .thumb .glyphicon{
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 20;
    font-size: 60px;
    color: #999;
 }
