.content-calendar{

}
.content-calendar thead tr th{
  width: 100px;
  padding: 10px;
  text-align: center;
}
.month-ctrl{
  margin: auto;
  display: block;
  width: 210px;
}
.day{
  height: 100px;
  width: 10vw;
  border: 1px solid #ccc;
  padding: 30px 0 20px 0;
  position: relative;
  vertical-align: top;
}
.day.disabled{
  border: none;
}
.day-number{
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 2px 7px;
}
.day-number.today{
  font-weight: bold;
  background-color: #2C4870;
  color: #FFF;
  border-radius: 25px;
}
.post{
  border-left: 5px solid green;
  border-radius: 1px;
  padding: 7px;
  overflow: hidden;
  height: 40px;
  margin: 0;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
  margin-top: 2px;
}
.post .network-icon{
  width: 100%;
  height: 20px;
  display: block;
  float: left;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  margin: 0px;
  padding-left: 20px;
  font-weight: normal;
  font-size: 11px;
}
.post .network-icon.facebook{
  background-image: url('../../assets/facebook_15.png');
}
.post .network-icon.twitter{
  background-image: url('../../assets/twitter_15.png');
}
.post .network-icon.gplus{
  background-image: url('../../assets/gplus_15.png');
}
.post .network-icon.linkedin{
  background-image: url('../../assets/linkedin_15.png');
}
/*
.post .network-icon.yelp{
  background-image: url('assets/yelp_15.png');
}
 */
.post.new {
  background-color: #FFF3D9;
  border-color: #FFBA00;
  box-shadow: 0 3px 3px -3px #FFBA00;
}
.post.approved {
  background-color: #E5EAF1;
  border-color: #ABBEDA;
  box-shadow: 0 3px 3px -3px #ABBEDA;
}
.post.rejected {
  background-color: #FEF5F5;
  border-color: #FF0000;
  box-shadow: 0 3px 3px -3px #FF0000;
}
.post.expired {
  background-color: #CCC;
  border-color: #888;
  box-shadow: 0 3px 3px -3px #CCC;
}
.post .approved-mark{
  position: absolute;
  top: 0;
  left: 0;
  color: green;
  font-size: 14px;
  font-weight: bold;
}
.post .approved-mark .icon{
  font-size: 30px;
}
.post.approved .approved-mark .icon:before{
  font-size: 45px;
  padding: 0 15px;
}
.post.approved .thumb{
  position: relative;
}
.post.approved .thumb .approved-mark{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 25px;
  background-color: rgba(255,255,255,.7);
}
.post.approved .thumb .approved-mark .icon{
  top: 35%;
  left: calc(50vw - 80px);
  position: absolute;
}
.post.approved .thumb .approved-mark .icon:before{
  font-size: 55px;
}
.post.approved .thumb .approved-mark p{
  position: absolute;
  top: calc(35% + 70px);
  left: calc(50vw - 100px) ;
}
.post .glyphicon{
  float: right;
  font-size: 1.4em;
  color: #2c4870;
}
.post .text{
  height: 32px;
  overflow: hidden;
  width: calc(100% - 45px);
  font-family: inherit;
}
.post .fa{
  float: left;
  margin-right: 5px;
  font-size: 1.7em;
}
.post a{
  color: #000;
}
.post a:hover{
  text-decoration: none;
}
.post label{
  cursor: pointer;
}
