<div id="page">

<div class="month-ctrl">
 <button (click)="prevMonth()" class="glyphicon glyphicon-chevron-left"></button>
 {{monthNames[month]}} {{year}}
 <button (click)="nextMonth()" class="glyphicon glyphicon-chevron-right"></button>
</div>
<table class="content-calendar">
  <thead>
    <tr>
      <ng-template let-dayName ngFor [ngForOf]="weekDays">
        <th>{{dayName}}</th>
      </ng-template>
    </tr>
  </thead>
  <ng-template let-week ngFor [ngForOf]="calendar">
    <tr class="week">
      <ng-template let-day ngFor [ngForOf]="week">
        <td class="day" [ngClass]="{'active': day.dayOfMonth, 'disabled': !day.dayOfMonth}">
          <span class="day-number" [ngClass]="{ 'today': day.isToday }">{{day.dayOfMonth}}</span>


          <div *ngFor="let post of contentByDate[day.date]" class="post"
            [ngClass]="{'new': post.customer_approved == '0', 'rejected': post.customer_approved == '-1', 'approved': post.customer_approved == '1', 'expired': post.expired}">
            <a href="javascript:void(0)" (click)="editPost(post);">
<!--              <label class="network-icon {{post.network}}"></label> -->
            <i class="glyphicon"
                [ngClass]="{ 'glyphicon-picture' : post.data?.picture && !post.data?.link, 'glyphicon-expand': post.video, 'glyphicon-link' : post.data?.link }"></i>
              <i class="fa fa-{{post?.network}}-square"></i>
             <div class="text" [innerHTML]="post.message | safeHTML | ellipsis: 35 "></div>
            </a>
          </div>

        </td>
      </ng-template>
    </tr>
  </ng-template>
</table>

</div>

<post-modal #postModal></post-modal>
